<div class="container">
  
  
<div class="container">
  <div class="card" style="width:400px">
    <% @categories.each do |category| %>
      <%= image_tag category.image %>
      <div class="card-body">
      <h4><%= link_to category.name, category_recipes_path(:category_id) %></h4>
      
    <% end %>
    </div><!-- card-body -->
  </div><!-- card -->
</div><!--
  </div>
</div>